<div class="section section-signup section-contacto" style="background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover; background-position: top center; min-height: 700px;">
  <div class="container">
    <div class="row">
      <div class="card card-signup" data-background-color="orange">
        <form class="form" method="" action="">
          <div class="card-header text-center">
            <h3 class="card-title title-up">Contactanos</h3>
            <div class="social-line">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                <!-- https://www.flaticon.com/free-icon/whatsapp_733585#term=whatsapp&page=1&position=5 -->
                <!-- <img src="https://image.flaticon.com/icons/svg/733/733585.svg" style="-webkit-writing-mode: vertical-lr; writing-mode: vertical-lr; max-width: 4vh;"/> -->
                <i class="fab fa-whatsapp"></i>
              </a>
              <!-- https://fontawesome.com/icons/instagram?style=brands -->
              <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                  <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <!-- <div class="card-body">
              <div class="row">
                  <div class="col-lg-12 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="First Name...">
                    </div>
                    <div class="input-group input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons ui-1_email-85"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email...">
                    </div>
                    <div class="textarea-container">
                      <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                  </div>
                </div>
          </div> -->
          <div class="card-body" style="text-align: center; font-size: 1rem;">
            <p class="card-text">
              <i class="material-icons">
                email
              </i>
              <a href="mailto:electrovale314@hotmail.com"> electrovale314@hotmail.com</a>
            </p>
            <h4 class="card-title">Numero Telefonico:</h4>
            <p class="card-text" style="font-size: 1.3rem;">
              <i class="material-icons">
                  call
              </i>
              <a href="tel: 3328433656"> 332-843-3656</a>
            </p>
            <p class="card-text" style="font-size: 1.3rem;">
              <i class="material-icons">
                call
              </i>
              <a href="tel: 3320768955"> 332-076-8955</a>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="tel: 3320768955" class="btn btn-neutral btn-round btn-lg">Contactar</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col text-center">
      <a href="examples/login-page.html" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
    </div>
  </div>
</div>