<div class="projects-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="category text-muted">Nuestro Trabajo</h6>
                <h2 class="title">Mallas Ciclonicas Profesionales</h2>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('https://i.ibb.co/7jVz37F/Whats-App-Image-2019-08-16-at-4-39-06-PM.jpg')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">"La malla ciclónica esta hecha de alambre de acero galvanizado y torcido heloicamente entre cada tejido."
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/n8k4pJ5/Whats-App-Image-2019-08-16-at-4-39-05-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Proteccion</h6>
                    <h4 class="card-title">Malla Con Sombra</h4>
                    <p>
                        Contamos Ademas Con la mejor malla sombra de todo el mercado, no solo divide y proteje tu patrimonio sino privacidad ante todo.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <!-- First image on the left side -->
                    <div class="image-container image-left" style="background-image: url('https://i.ibb.co/1QbvC0p/Whats-App-Image-2019-08-01-at-10-08-04-PM.jpg')">
                        <p class="blockquote blockquote-primary">"Nuestro Servicio Esta enfocado en la seguridad de cualquier clase desde tu hogar hasta tus huertos."
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/gFRDwKD/Whats-App-Image-2019-08-01-at-11-08-08-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Velociadad</h6>
                    <h4 class="card-title">Instalacion Agil Y Profesional</h4>
                    <p>
                        La Instalacion Mas Agil y precisa de todo el mercado ante cualquier situacion simplemente inigualables.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>