<footer class="footer" data-background-color="black">
  <div class=" container ">
    <nav>
      <ul>
        <li>
          <a>
            PAYP
          </a>
        </li>
        <li>
          <a routerLink="/nosotros">
            Nosotros
          </a>
        </li>
        <li>
          <a routerLink="/productos">
            Productos
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      ©
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>2019, Designed by
      <a href="tel:3320768955">Valentin Alejandro</a>. 
      <br class="d-block d-sm-block d-md-none">Crea Tu Pagina Web
      <a href="tel:3320768955"> 33 28 43 36 56</a>.
    </div>
  </div>
</footer>