<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://i.ibb.co/FstnCbb/ej-yao-D46m-XLs-QRJw-unsplash.jpg');">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Nosotros</h1>
          <h4>
            Somos Una Empresa De Vangurdia A Nivel Nacional, Tu Seguridad Nunca Estuvo Tan Cerca.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>