<div id="carouselExampleIndicators" class="carousel slide">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item">
          <div class="page-header header-filter">
              <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/736779/pexels-photo-736779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
              <div class="content-center">
                  <div class="container text-left">
                      <div class="content-center">
                          <div class="row">
                              <div class="col-md-8 ml-auto mr-auto text-center">
                                  <h1 class="title">Proteja Sus Alimentos.</h1>
                                  <h4 class="description " style="color: white">
                                      No deje sus alimetos sin proteccion para insectos o cualquier otra afectaccion, 
                                      Somos especialistas en Ganado, Ranchos Invernaderos Y Cultivos.
                                  </h4>
                                  <button type="button" class="btn btn-neutral btn-lg" (click)="scrollService.scrollToContacto()">
                                        <i class="fas fa-phone-square"></i>
                                        <div style="display: inline;" >
                                            Contactenos
                                        </div>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item active">
          <div class="page-header header-filter">
              <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
              <div class="content-center">
                  <div class="container">
                      <div class="content-center">
                          <div class="row">
                              <div class="col-md-8 ml-auto mr-auto text-center">
                                  <h1 class="title">Protega Sus Granjas</h1>
                                  <h4 class="description ">No Deje Sus Granjas Sin Proteccion, Somos Especialistas En Todo Tipo De Granjas Asi Como Huertos Y Demas.</h4>
                                  <br>
                                  <h5>Contactenos Ahora: </h5>
                                  <button type="button" class="btn btn-primary btn-lg" (click)="scrollService.scrollToContacto()">
                                        <i class="fas fa-phone-square"></i> Contactenos
                                  </button>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="page-header header-filter">
              <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/2004164/pexels-photo-2004164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
              <div class="content-center">
                  <div class="container">
                      <div class="content-center">
                          <div class="row">
                              <div class="col-md-6 text-left">
                                  <h1 class="title">Enmallado Electrificado.</h1>
                                  <h4 class="description ">
                                      Sabia que mas del 70% de los robos son prevenidos con las mallas electricas, no deje sin proteccion
                                      a su hogar o cualquier otro lugar.
                                  </h4>
                                  <br>

                                  <div class="buttons">
                                      <button type="button" class="btn btn-neutral btn-primary btn-lg mr-1">
                                          <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
                                      </button>
                                      <button type="button" class="btn btn-primary btn-lg" (click)="scrollService.scrollToContacto()">
                                            <i class="fas fa-phone-square"></i> Contactenos
                                      </button>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
  </a>
</div>