<div class="features-2 section-image" style="background-image: url('https://i.ibb.co/XFz7CZD/stockvault-steel-fence-grid96108.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Malla Ciclonica.</h2>
                <h4 class="description">
                    La mejor malla Ciclonica, solo la puedes encontrar con nosotros calidad garantizada y certificada.
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="info">
                <div class="icon icon-primary icon-circle">
                    <i class="fas fa-air-freshener"></i>
                </div>
                <h4 class="info-title">Proteje Tu Patrimonio.</h4>
                <p class="description">
                    Proteje tu patriomonio desde tu hogar hasta tus huertos.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="icon icon-danger icon-circle">
                    <i class="now-ui-icons business_chart-bar-32"></i>
                </div>
                <h4 class="info-title">Seguridad Con Estadisticas</h4>
                <p class="description">
                    Estadisticamente La Maya Ciclonica Ha Bajado el indice de robos.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="icon icon-warning icon-circle">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                </div>
                <h4 class="info-title">Olvidate De Manteniemiento</h4>
                <p class="description">
                    Nuestros Productos Estan listos para llevarlos a otro nivel.
                </p>
            </div>
        </div>
    </div>
</div>