  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 px-0">
              <div class="card card-fashion card-background" style="background-image: url('https://i.ibb.co/7WXMnxf/electric-fence-71378.jpg')">
                  <div class="card-body">
                      <div class="card-title text-left">
                          <h2>
                              <a href="#pablo">
                                  La proteccion mas avanzada es nuestra prioridad.
                              </a>
                          </h2>
                      </div>
                      <div class="card-footer text-left">
                          <div class="stats">
                              <span>
                                  <i class="now-ui-icons objects_globe"></i>Proteccion A Nivel Nacional
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 px-0">
              <div class="card-container">
                  <div class="card card-fashion">
                      <div class="card-title">
                          <a href="#pablo">
                              <h4>
                                  <a href="#pablo">
                                      Contamos con las herramientas de maxima calidad para cualquiera de tus proyectos...
                                  </a>
                              </h4>
                          </a>
                      </div>
                      <div class="card-body">
                          <div class="card-footer">
                              <div class="stats">
                                  <span>
                                      <i class="now-ui-icons education_paper"></i> Calidad Insuperable 100% garantizado
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card card-fashion card-background" style="background-image: url('https://i.ibb.co/6mG5C89/stockvault-steel-fence-gridb96104.jpg')">
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 px-0">
              <div class="card-container">
                  <div class="card card-fashion card-background" style="background-image: url('https://i.ibb.co/hYsR2G0/barbed-wire-4380647-1920.jpg')">
                  </div>
                  <div class="card card-fashion arrow-left">
                      <div class="card-title">
                          <h4>
                              <a href="#pablo">
                                  Proteje Tu Patrimonio; Casas, terrenos, Huertos, Ganado, invernaderos Y demas...
                              </a>
                          </h4>
                      </div>
                      <div class="card-body">
                          <div class="card-footer">
                              <div class="stats">
                                  <span>
                                      <i class="now-ui-icons design_app"></i>Mas de 50 años de protejiendo
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 px-0">
              <div class="card card-fashion card-background" style="background-image: url('https://i.ibb.co/hyBX2Qb/pasture-fence-1995820-1920.jpg')">
                  <div class="card-body">
                      <div class="card-title text-left">
                          <h2>
                              <a href="#pablo">Simplemente Calidad Insuperable</a>
                          </h2>
                      </div>
                      <div class="card-footer text-left">
                          <div class="stats">
                              <span>
                                  <i class="now-ui-icons media-2_sound-wave"></i>Siente La proteccion
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6" style="text-align:center;">
            <button class="btn btn-primary btn-lg" style="width: inherit;">Ver nuestra mision</button>
          </div>
      </div>
  </div>
