<div class="row justify-content-md-center sharing-area text-center">
  <div class="text-center col-md-12 col-lg-8">
    <h3>Gracias Por Seguirnos En Nuestras Redes!</h3>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3" style="text-align: center;">
    <a target="_blank" href="" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="" data-original-title="Siguenos">
      <i class="fab fa-youtube" style="color: #c4302b; font-size: 2rem;"></i>
    </a>
  </div>
  <div class="col-3" style="text-align: center;">
    <a target="_blank" href="" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="" data-original-title="Visitanos"
      style="font-size: 2rem;">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>
  <div class="col-3" style="text-align: center;">
    <a href="" class="btn btn-neutral btn-google btn-icon btn-round btn-lg" rel="tooltip" title="" data-original-title="Siguenos"
      style="font-size: 2rem;">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>