<div class="row justify-content-md-center sharing-area text-center">
  <div class="text-center col-md-12 col-lg-8">
    <h3>Thank you for supporting us!</h3>
  </div>
  <div class="text-center col-md-12 col-lg-8">
    <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="" data-original-title="Follow us">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="" data-original-title="Like us">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="" data-original-title="Follow us">
      <i class="fab fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="" data-original-title="Star on Github">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>