<div class="features-2 section-image" style="background-image: url('https://i.ibb.co/st1sBkV/barbed-wires-depth-of-field-sharp-2257453.jpg')">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title"> Concerctina Y Puas.</h2>
              <h4 class="description">
                  Proteccion Sin Ninguna Imperfeccion, Solo Con Alambre De Puas Y Concertina.
              </h4>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
          <div class="info">
              <div class="icon icon-primary icon-circle">
                  <i class="fas fa-air-freshener"></i>
              </div>
              <h4 class="info-title">Proteje Tu Patrimonio.</h4>
              <p class="description">
                  Proteje tu patriomonio desde tu hogar hasta tus huertos.
              </p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="info">
              <div class="icon icon-danger icon-circle">
                    <i class="far fa-bell"></i>
              </div>
              <h4 class="info-title">Tiempo Establecido</h4>
              <p class="description">
                  Recibe Tu Proyecto Finalizado en tiempo stablecido
              </p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="info">
              <div class="icon icon-warning icon-circle">
                  <i class="now-ui-icons arrows-1_refresh-69"></i>
              </div>
              <h4 class="info-title">Olvidate De Manteniemiento</h4>
              <p class="description">
                  Nuestros Productos Estan listos para llevarlos a otro nivel.
              </p>
          </div>
      </div>
  </div>
</div>