<div class="page-header clear-filter" style="z-index: 0;">
  <!-- <div class="page-header-image" data-parallax="true" 
    style="z-index: -1;">
  </div> -->
      <video
        [muted]="'muted'"
        class="page-header-image"
        autoplay
        loop=""
        >
        <source src="http://mazwai.com/system/posts/videos/000/000/205/original/goomalling-storm.mp4?1446983738" type="video/mp4">
      </video>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="./assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">WORRE</h1>
        <h3 class="text_1">Tu Seguridad<br class="br"> Nuestro Trabajo.</h3><h3 class="text_2">Tu Seguridad<br class="br"> Nuestra Pasion.</h3>

      </div>
      <h6 class="category category-absolute">Designed by
        <a href="http://invisionapp.com/" target="_blank">
          <img src="./assets/img/invision-white-slim.png" class="invision-logo">
        </a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">
          <img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>.</h6>
    </div>
  </div>
