<div class="page-header" style="z-index: 0;">
  <!-- <div class="page-header-image" data-parallax="true" 
    style="z-index: -1;">
  </div> -->
  <video [muted]="'muted'" class="page-header-image" autoplay loop="">
    <source [src]="video | safe" type="video/mp4">
  </video>
  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo mb-1">PAYP</h1>
      <h5>Proveedora De Alambrados Y Protecciones Profesionales</h5>
      <br>
      <h3 class="text_1">Tu Seguridad
        <br class="br"> Nuestro Trabajo.</h3>
      <h3 class="text_2">Tu Seguridad
        <br class="br"> Nuestra Pasion.</h3>

    </div>
    <h6 class="category category-absolute">Designed by
      <a href="http://invisionapp.com/" target="_blank">
        <img src="./assets/img/valentine.png" class="invision-logo" style="max-width: 32px;">
      </a>alentine
    </h6>
  </div>

</div>
<a href=" https://wa.me/523318115833"  target="_blank" class="btn" style="z-index: 9999;position: fixed; right: 2rem; bottom: 2.5rem; background: #34b3a0;">
  <a  style="color: white">
    <i class="fab fa-whatsapp"></i>
  </a>
</a>

<button class="btn" style="z-index: 9999;position: fixed; right: 2rem; bottom: 7.5rem; background: #34b3a0;">
  <a href="tel:3318115833" style="color: white">
    <i class="fas fa-mobile-alt"></i>
  </a>
</button>