<div class="page-header clear-filter " style="z-index: 0;">
  <!-- <div class="page-header-image" data-parallax="true" 
    style="z-index: -1;">
  </div> -->
      <video
        [muted]="'muted'"
        class="page-header-image"
        autoplay
        loop=""
        >
        <source src="https://storage.googleapis.com/coverr-main/mp4%2FFire-Snow.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=coverr-183014%40appspot.gserviceaccount.com%2F20190807%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20190807T230025Z&X-Goog-Expires=301&X-Goog-SignedHeaders=host&X-Goog-Signature=31f31651b1c84b883c5a63c9e24c3b81de80117b120214af6f21ebc931ea08e70356b6301e74addad833c0498a15920db06086d38f665b4b6dbfd074ce03152686a18730cdbc5058d324732413f2d18b9d641b8fb3944aa2c427063172ef1603d16fb0beaa06f7023f4cead0c18db65734013f04b05f7c9037d48d27ee52895850a64f8284fd5a4eab70c7bb1de5b7249d67baba55264d5768e56f93356f3a9e3051cf69f90f82e567e7d6526987f37e18b7e6dffa3b720780fb51d18d826dbe5eb4890977b1a282a0cc788e914ee13a1ed564ba49070e34c2aa75dc41688c0bf476698b10a1071dc219954a4276024f73052c5a2a8229df0cd574263fffcc43" type="video/mp4">
      </video>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="./assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">Now UI Kit.</h1>
        <h3>Tu Seguridad Es Nuestro Trabajo</h3>
      </div>
      <h6 class="category category-absolute">Designed by
        <a href="http://invisionapp.com/" target="_blank">
          <img src="./assets/img/invision-white-slim.png" class="invision-logo">
        </a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">
          <img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>.</h6>
    </div>
  </div>
