.page-header-image{
    background-image: url('../../../../assets/img/header.jpg');
}


@media screen and (min-width: 823px){
    .page-header-image{
      width: auto !important;
      height: 100% !important; 
    }
}

@media screen and (max-width: 823px){
    .page-header-image{
      width: auto !important; 
      height: auto !important;
    }
}

@media screen and (min-width: 1920px){
  .page-header-image{
    width: -webkit-fill-available !important; 
    width: -fill-available !important; 
    width: -moz-fill-available !important; 
    height: auto !important;
  }
}

/*TypeWriter*/
.text_1 {
  animation: text1-max;
}

.text_2 {
  animation: text2-max;
}

@media (min-width: 991px){
    .br{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .text_1 {
        animation: text1;
      }
      
      .text_2 {
        animation: text2;
      }
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}


@keyframes text1-max {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 17em;
    }
  }
  
  @keyframes text2-max {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 17em;
    }
  }

  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 10em;
    }
  }
  
  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 10em;
    }
  }

@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  

  .btn{
    background: #34b3a0;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(156, 39, 176, 0.46);
  }