.page-header-image{
    background-image: url('../../../../assets/img/header.jpg');
}


@media screen and (min-width: 991px){
    .page-header-image{
        width: 100% !important; 
        height: auto !important;
    }
}

@media screen and (max-width: 991px){
    .page-header-image{
        height: 100% !important;
        width: auto !important;
    }
}