<div class="container">
  <div class="title">
      <h3 class="title">Algunos Trabajos</h3>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-4">
          <div class="card card-blog" style="text-align: center;">
              <div class="card-image">
                  <img class="img rounded" src="https://i.ibb.co/py0wP2r/Whats-App-Image-2019-08-01-at-11-07-18-PM.jpg">
              </div>
              <div class="card-body">
                  <h6 class="category text-warning">
                      <i class="now-ui-icons business_bulb-63"></i> Calidad
                  </h6>
                  <h5 class="card-title">
                      <a>Proteccion: A Huertos Especializados</a>
                  </h5>
                  <p class="card-description">
                    La mejor protección para tu huerto con malla borreguera, alambre de púas y malla sombra.
                  </p>
                  <div class="card-footer">
                    <div class="author">
                        <!-- <img src="assets/img/Logo.png" alt="..." class="avatar img-raised"> -->
                        <span>PAYP</span>
                    </div>
                    <div class="stats stats-right">
                        <i class="now-ui-icons ui-2_favourite-28"></i> 10.4K ·
                        <i class="now-ui-icons files_single-copy-04"></i> 425
                    </div>
                </div>
              </div>
          </div>
          <div class="card card-blog">
            <div class="card-image">
                <img class="img rounded" src="https://i.ibb.co/gFRDwKD/Whats-App-Image-2019-08-01-at-11-08-08-PM.jpg">
            </div>
            <div class="card-body">
                <h6 class="category text-warning">
                    <i class="now-ui-icons media-1_camera-compact"></i> Seguridad
                </h6>
                <h5 class="card-title">
                    <a>Proteccion A Sectores Especificos: Bomba De Agua Para Riego</a>
                </h5>
                <div class="card-footer">
                    <div class="stats stats-right">
                        <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                        <i class="now-ui-icons files_single-copy-04"></i> 45
                    </div>
                    <div class="author">
                      <!-- <img src="assets/img/Logo.png" alt="..." class="avatar img-raised"> -->
                      <span>PAYP</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="card" data-background-color="black">
              <div class="card-body content-danger">
                  <h6 class="category-social" >
                      <i class="fas fa-helicopter" ></i> Cotiza Ahora
                  </h6>
                  <h4 class="card-title">
                      <a (click)="scrollService.scrollToContacto()">Cotiza Sin Compromiso</a>
                  </h4>
                  <p class="card-description">
                      Llamanos Y Cuentanos tu proyecto nos adapatamos a cualquier presupuesto y tipo de trabajo en el mejor tiempo y calidad solo comunicate y con gusto te atenderemos.
                  </p>
                  <div class="card-footer text-center">
                      <a class="btn btn-default btn-round" (click)="scrollService.scrollToContacto()">Cotizar Ahora</a>
                  </div>
              </div>
          </div>
          <div class="card card-blog">
              <div class="card-image">
                  <a>
                      <img class="img rounded" src="https://i.ibb.co/1QbvC0p/Whats-App-Image-2019-08-01-at-10-08-04-PM.jpg">
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="category text-primary">Profesionalismo</h6>
                  <h5 class="card-title">
                    Malla Acero En Division Especializada
                  </h5>
                  <p class="card-description">
                    Fabrica rejas de acero con la más moderna y novedosa tecnología 
                    para ofrecer a sus clientes las más reforzadas Y seguras rejas para cualquier
                    proyecto.
                    
                  </p>
                  <div class="card-footer">
                      <div class="author">
                          <!-- <img src="assets/img/Logo.png" alt="..." class="avatar img-raised"> -->
                          <span>PAYP</span>
                      </div>
                      <div class="stats stats-right">
                          <i class="now-ui-icons tech_watch-time"></i> 12 HRS
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="card" data-background-color="red">
              <div class="card-body">
                  <h6 class="category-social">
                      <i class="fa fa-twitter"></i> Twitter
                  </h6>
                  <p>
                      "You Don't Have to Sacrifice Joy to Build a Fabulous Business and Life"
                  </p>
                  <div class="card-footer">
                      <div class="author">
                          <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                          <span>Tania Andrew</span>
                      </div>
                      <div class="stats stats-right">
                          <i class="now-ui-icons ui-2_favourite-28"></i> 2.4K ·
                          <i class="now-ui-icons files_single-copy-04"></i> 45
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
          <div class="card card-blog">
              <div class="card-image">
                  <a>
                      <img class="img rounded" src="https://i.ibb.co/B2VMs4H/Whats-App-Image-2019-08-16-at-4-39-01-PM.jpg">
                  </a>
              </div>
              <div class="card-body text-center">
                  <h6 class="category text-danger">
                      <i class="now-ui-icons media-2_sound-wave"></i> Ingenio
                  </h6>
                  <h5 class="card-title">
                        Protección: concertina y alambre de puas
                  </h5>
                  <p class="card-description">
                      Tu hogar o terreno no puede estar mas seguro con nuestra calidad de trabajo y servicios que ofrecemos...
                  </p>
                  <div class="card-footer">
                      <a class="btn btn-primary" routerLink="/productos/concertina">Leer Mas</a>
                  </div>
              </div>
          </div>
          <div class="card card-blog">
              <div class="card-image">
                  <img class="img rounded" src="https://i.ibb.co/PQb6DCJ/Whats-App-Image-2019-08-16-at-4-38-54-PM.jpg">
              </div>
              <div class="card-body">
                  <h6 class="category text-warning">
                      <i class="now-ui-icons media-1_camera-compact"></i> Objetivo
                  </h6>
                  <h5 class="card-title">
                      <a>Seguridad En Portones De Acero</a>
                  </h5>
                  <div class="card-footer">
                      <div class="stats stats-right">
                          <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                          <i class="now-ui-icons files_single-copy-04"></i> 45
                      </div>
                      <div class="author">
                        <!-- <img src="assets/img/Logo.png" alt="..." class="avatar img-raised"> -->
                        <span>PAYP</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
        <button class="btn btn-primary btn-lg" style="width: inherit;" routerLink="/productos">Ver Mas Productos Y Servicios</button>
      </div>
  </div>
</div>