<div class="section">
  <div class="separator-line separator-primary"></div>
  <div class="projects-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Conocenos</h2>
          <h4 class="description">ES UNA EMPRESA ESTABLECIDA EN LA CIUDAD DE GUADALAJARA JALISCO, CON MÁS DE 30 AÑOS DE EXPERIENCIA QUE NOS RESPALDAN.
          </h4>
          <div class="section-space"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-auto">
          <div class="card card-background card-background-product card-raised" style="background-image: url('https://i.ibb.co/WVQRQ43/guilherme-cunha-0-ZOt-Nz-DVUZg-unsplash.jpg')">
            <div class="card-body">
              <h2 class="card-title">Analisis</h2>
              <p class="card-description">
                Llevamos Un Analisis especial para determinar el mejor trabajo que se debera realizar
                para cada tipo de proyecto.
              </p>
              <label class="badge badge-neutral">Determinacion</label>
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="now-ui-icons ui-2_chat-round"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Soluccion</h4>
              <p class="description">
                Solucionamos Tu Problema No Importa la zona, los riesgos o otro motivo. Nuestro Equipo Siempre estara para ayudarte y protejerte.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="now-ui-icons business_chart-pie-36"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Dedicacion</h4>
              <p class="description">
                Gracias A Nuestro equipo y su dedicacion olvidate de los retrasos, cada proyecto es tratado con una calidad y manejo especial.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="now-ui-icons design-2_ruler-pencil"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Creacion</h4>
              <p class="description">
                Nuestro Equipo No se quedara satisfecho hasta que el proyecto se lleve a cabo en la forma que usted lo decidio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-5 ml-auto mt-5">
          <div class="info info-horizontal">
            <div class="icon icon-warning">
              <i class="now-ui-icons users_single-02"></i>
            </div>
            <div class="description">
              <h4 class="info-title">SUPERVISIÓN
              </h4>
              <p class="description">
                  Para cada uno de nuestros proyectos, destinamos una rigurosa supervisión, para cumplir en tiempo y forma sus necesidades y expectativas.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-warning">
              <i class="now-ui-icons business_chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">INSTALACIONES</h4>
              <p class="description">
                  Actualmente manejamos instalaciones a nivel Nacional, sin importar el volumen o distancia, acudimos a donde nuestros clientes nos lo indiquen.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-warning">
              <i class="now-ui-icons arrows-1_refresh-69"></i>
            </div>
            <div class="description">
              <h4 class="info-title">TIEMPOS DE ENTREGA</h4>
              <p class="description">
                Nuestras cotizaciones son totalmente sin compromiso, realizamos los levantamientos pertinentes y les ofrecemos nuestras propuestas de acuerdo a nuestra experiencia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="card card-background card-background-product card-raised" style="background-image: url('https://i.ibb.co/F4T1LPb/dane-deaner-d0-Acx-Mk33is-unsplash.jpg')">
            <div class="card-body">
              <h2 class="card-title">Comezemos El Trabajo.</h2>
              <p class="card-description text-white">
                Es Momento De comenzar ese proyecto llamanos y dejanos el trabajo duro, nosotros te protejeremos.
              </p>
              <label class="badge badge-neutral">Comenzamos ?</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>