<div class="section section-nucleo-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title">Quienes Somos</h2>
        <h5 class="description">
          Somos la empresa Y provedora mas grande e importante de todo mexico, 
          demostrando nuestra calidad y servicio por precios inmejorables. 
          Protejiendo desde hogares, huertos, ganado hasta a las coorporaciones 
          mas importantes y sitios de todo mexico. Realiza tu cotizaccion sin compromiso
          alguno y siente de nuevo la seguridad de tu patrimonio. 
        </h5>
        <!-- <div class="nucleo-container">
        <img src="assets/img/nucleo.svg" alt="">
      </div> -->
        <button type="button" class="btn btn-primary btn-round btn-lg">
          <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
        </button>
        <a class="btn btn-outline-primary btn-round btn-lg" (click)="scrollService.scrollToContacto()" href="#" >Cotiza Ahora</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="icons-container">
          <i class="now-ui-icons ui-1_send"></i>
          <i class="now-ui-icons ui-2_like"></i>
          <i class="now-ui-icons transportation_air-baloon"></i>
          <i class="now-ui-icons text_bold"></i>
          <i class="now-ui-icons tech_headphones"></i>
          <i class="now-ui-icons emoticons_satisfied"></i>
          <i class="now-ui-icons shopping_cart-simple"></i>
          <i class="now-ui-icons objects_spaceship"></i>
          <i class="now-ui-icons media-2_note-03"></i>
          <i class="now-ui-icons ui-2_favourite-28"></i>
          <i class="now-ui-icons design_palette"></i>
          <i class="now-ui-icons clothes_tie-bow"></i>
          <i class="now-ui-icons location_pin"></i>
          <i class="now-ui-icons objects_key-25"></i>
          <i class="now-ui-icons travel_istanbul"></i>
        </div>
      </div>
    </div>
  </div>
</div>