<div class="section section-nucleo-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title">Quienes Somos</h2>
        <h5 class="description">
          Nuestro Equipo de Trabajo se encuentra a su total disposición para ofrecerles de la manera más atenta y cordial toda nuestra experiencia y asesoría, contamos con personal totalmente calificado desde la cotización de nuestros servicios hasta la entrega e instalación de nuestros productos. Con el fin de cumplir con sus necesidades manejamos cuatro divisiones que engloban nuestros productos como Ciclónicas Galvanizadas, Cercas Eléctricas, Circuitos Cerrados de TV.
        </h5>
        <!-- <div class="nucleo-container">
        <img src="assets/img/nucleo.svg" alt="">
      </div> -->
        <button type="button" class="btn btn-primary btn-round btn-lg">
          <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
        </button>
        <a href="" class="btn btn-outline-primary btn-round btn-lg" target="_blank">Contactanos</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="icons-container">
          <i class="now-ui-icons ui-1_send"></i>
          <i class="now-ui-icons ui-2_like"></i>
          <i class="now-ui-icons transportation_air-baloon"></i>
          <i class="now-ui-icons text_bold"></i>
          <i class="now-ui-icons tech_headphones"></i>
          <i class="now-ui-icons emoticons_satisfied"></i>
          <i class="now-ui-icons shopping_cart-simple"></i>
          <i class="now-ui-icons objects_spaceship"></i>
          <i class="now-ui-icons media-2_note-03"></i>
          <i class="now-ui-icons ui-2_favourite-28"></i>
          <i class="now-ui-icons design_palette"></i>
          <i class="now-ui-icons clothes_tie-bow"></i>
          <i class="now-ui-icons location_pin"></i>
          <i class="now-ui-icons objects_key-25"></i>
          <i class="now-ui-icons travel_istanbul"></i>
        </div>
      </div>
    </div>
  </div>
</div>