<div >
  <div class="container">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">Pick the best plan for you</h2>
              <h4 class="description ">You have Free Unlimited Updates and Premium Support on each package.</h4>
              <div class="section-space"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="card card-pricing card-plain">
                  <div class="card-body">
                      <h6 class="category ">Bravo Pack</h6>
                      <div class="icon icon-warning">
                          <i class="now-ui-icons media-1_button-power"></i>
                      </div>
                      <h3 class="card-title">$10</h3>
                      <ul>
                          <li>Complete documentation</li>
                          <li>Working materials in Sketch</li>
                      </ul>
                      <a href="#pablo" class="btn btn-neutral btn-warning btn-round">Add to Cart</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card card-pricing">
                  <div class="card-body">
                      <h6 class="category">Alpha Pack</h6>
                      <div class="icon icon-primary">
                          <i class="now-ui-icons objects_diamond"></i>
                      </div>
                      <h3 class="card-title">$67</h3>
                      <ul>
                          <li>Working materials in EPS</li>
                          <li>6 months access to the library</li>
                      </ul>
                      <a href="#pablo" class="btn btn-primary btn-round">Add to Cart</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card card-pricing card-plain">
                  <div class="card-body">
                      <h6 class="category ">Charlie Pack</h6>
                      <div class="icon icon-success">
                          <i class="now-ui-icons media-2_sound-wave"></i>
                      </div>
                      <h3 class="card-title">$69</h3>
                      <ul>
                          <li>Working materials in PSD</li>
                          <li>1 year access to the library</li>
                      </ul>
                      <a href="#pablo" class="btn btn-neutral btn-success btn-round">Add to Cart</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card card-pricing card-plain">
                  <div class="card-body">
                      <h6 class="category ">Extra Pack</h6>
                      <div class="icon icon-danger">
                          <i class="now-ui-icons education_atom"></i>
                      </div>
                      <h3 class="card-title">$159</h3>
                      <ul>
                          <li>Complete documentation</li>
                          <li>2GB cloud storage</li>
                      </ul>
                      <a href="#pablo" class="btn btn-neutral btn-danger btn-round">Add to Cart</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>