<body class="index-page sidebar-collapse">
 <app-navbar></app-navbar>
  <div class="wrapper">
    <app-header></app-header>
    <div class="main">
      <div class="section section-images">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="hero-images-container">
                <img src="assets/img/hero-image-1.png" alt="">
              </div>
              <div class="hero-images-container-1">
                <img src="assets/img/hero-image-2.png" alt="">
              </div>
              <div class="hero-images-container-2">
                <img src="assets/img/hero-image-3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- End The Main -->
    </div>

    <app-footer></app-footer>
  </div>
</body>