<body class="index-page sidebar-collapse">
 <app-navbar></app-navbar>
  <div class="wrapper">
    <app-header></app-header>
    <div class="main">
  
      <app-skills></app-skills>

      <app-card-products></app-card-products>
      
      <app-about-us></app-about-us>

      <app-sharing></app-sharing>
      
      <app-card-materials></app-card-materials>

      <app-price></app-price>

      <app-contact-us></app-contact-us>
      
    <!-- End The Main -->
    </div>

    <app-footer></app-footer>
  </div>
</body>