<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">FICHAS TÉCNICAS</h2>
                <h4 class="description">
                    Dejanos proporcionarte la mayor variedad de servicios y productos al mejor precio y calidad para cualquier proyecto que desees
                    realizar, cumpliendo tus espectativas y visiones llamanos sin ningun compromiso.
                </h4>
            </div>
        </div>
        <h2 class="section-title">Productos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/7WXMnxf/electric-fence-71378.jpg" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">ALAMBRADOS DE ALTA SEGURIDAD</a>
                        </h4>
                        <p class="card-description">
                            Contamos Con La Seguridad maxima con mallas de alto calibre, resistencia y durabilidad con servicio electrificado.
                            <button type="button" class="btn btn-link btn-primary" routerLink="/productos/ciclonica">
                                <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/st1sBkV/barbed-wires-depth-of-field-sharp-2257453.jpg" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">malla Concertina Y Puas</a>
                        </h4>
                        <p class="card-description">
                            No Solo Una Malla, Malla Concertina Cuenta con la maxima seguridad para cualquier implentacion ademas de contar con el mejor
                            presupuesto.
                            <button type="button" class="btn btn-link btn-primary ">
                                <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/DfnXQ0N/stockvault-steel-fence-gridb96104-1.jpg" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">malla ciclón</a>
                        </h4>
                        <p class="card-description">
                            Divide Con Malla Concertina, Cuenta con la maxima calidad para el mas exigente y presupuesto dado, proteje, divide
                            o segementa.
                            <button type="button" class="btn btn-link btn-primary ">
                                <i class="now-ui-icons files_single-copy-04"></i> Leer Mas..
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Sections Fila -->
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/FqHqQBp/benjamin-klaver-XX2o7i-Ro5-Z4-unsplash.jpg" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Malla Sombra</a>
                        </h4>
                        <p class="card-description">
                            Proteje Del Sol a tus seres queridos o bienes no importa la altura el tamaño o cualquier dimension
                            siempre cuidaremos de bienestar.
                            <button type="button" class="btn btn-link btn-primary " (click)="scrollService.scrollToContacto()">
                                <i class="fas fa-mobile-alt"></i> Llamanos
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/SnSsGQd/sheep-1822137-1280.jpg"
                        />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Malla Borreguera</a>
                        </h4>
                        <p class="card-description">
                            Proteje A Tus Animales O Ganado con malla borreguera con la calidad de nosotros, instalacion profesional a cualquier
                            lugar.
                            <button type="button" class="btn btn-link btn-primary " (click)="scrollService.scrollToContacto()">
                                <i class="fas fa-mobile-alt"></i> Llamanos
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="https://i.ibb.co/1ZB2Wvm/apartment-complex-2821981-1280.jpg" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Portones</a>
                        </h4>
                        <p class="card-description">
                            Diseñados Para Cualquier tamaño y medida no importa cual sea el lugar ni el tiempo simpre estaremos listos
                            para el trabajo.
                            <button type="button" class="btn btn-link btn-primary " (click)="scrollService.scrollToContacto()">
                                <i class="fas fa-mobile-alt"></i> Llamanos
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">PREGUNTA POR MAS SERVICIOS</h2>
                    <h4 class="description">
                        CUENTANOS TU PROYECTO, IDEAS O MATERIALES NO IMPORTA SIEMPRE PODEMOS AYUDARTE Y REALIZAR TUS PLANIFICACIONES
                        NUESTRO MISION ES TU SEGURIDAD O LA DE TUS SERES QUERIDOS.
                    </h4>
                </div>
            </div>
    </div>
</div>