<div class="projects-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="category text-muted">Nuestro Trabajo</h6>
                <h2 class="title">Alambre De Puas Y Concertina</h2>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('https://i.ibb.co/gzs2k8F/Whats-App-Image-2019-08-16-at-4-39-04-PM.jpg')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">"Alambre galvanizado de alta resistencia en rollo helicoidal posee navajas corto punzantes que crea una sensación de advertencia de alta peligrosidad a cualquiera que se acerque."
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/B2VMs4H/Whats-App-Image-2019-08-16-at-4-39-01-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Seguridad</h6>
                    <h4 class="card-title">Concertina</h4>
                    <p>
                            La función de la concertina de seguridad es proteger un área determinada. Es el sistema de seguridad perimetral más efectivo y comúnmente usado por el sector residencial, comercial, industrial, militar y gubernamental.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <!-- First image on the left side -->
                    <div class="image-container image-left" style="background-image: url('https://i.ibb.co/9Y1nn5n/Whats-App-Image-2019-08-01-at-11-28-20-PM.jpg')">
                        <p class="blockquote blockquote-primary">"El alambrado con puas, se realiza con alambra de puas el cual esta hecho con alambre galvanizado, entrelazando dos hilos y así trenzando la púa entre ambos alambres longitudinales."
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/BCQfz7C/Whats-App-Image-2019-08-16-at-4-39-09-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Servicio</h6>
                    <h4 class="card-title">Alambre De Puas</h4>
                    <p>
                        Utilizado en hospitales, cerca de alambrado con púas para escuelas, entre muchos otros lugares donde se puediera dar la opción de utlizar este tipo de protecciones.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>