<div class="projects-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="category text-muted">Nuestro Trabajo</h6>
                <h2 class="title">Alta Seguridad Y Tension</h2>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('https://i.ibb.co/7WXMnxf/electric-fence-71378.jpg')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">"Una cerca electrificada, cerca eléctrica o cerco eléctrico funciona por el  Cerca electrificada: en realidad son descargas eléctricas, con impulsos de varios miles de Voltios"
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/JQ7j9kk/Whats-App-Image-2019-08-01-at-11-07-18-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Seguridad</h6>
                    <h4 class="card-title">Alto Voltaje</h4>
                    <p>
                        Proteje Tus Sembradios Con el voltaje mas alto para cualquier caso no importa la distancia el lugar o las especificaciones protejete con alta seguridad.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <!-- First image on the left side -->
                    <div class="image-container image-left" style="background-image: url('https://i.ibb.co/NxrWN4z/matthew-t-rader-13w-Hahu1-ZHQ-unsplash.jpg')">
                        <p class="blockquote blockquote-primary">"El alambrado con puas, se realiza con alambra de puas el cual esta hecho con alambre galvanizado, entrelazando dos hilos y así trenzando la púa entre ambos alambres longitudinales."
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://i.ibb.co/pXMDCn0/Whats-App-Image-2019-08-16-at-4-39-07-PM.jpg')">
                    </div>
                    <h6 class="category text-primary">Servicio</h6>
                    <h4 class="card-title">Alta Desempeño</h4>
                    <p>
                        Nosotros Nos Sentimos Altamente honrados con este producto de alto desempeño protejiendo a miles de clientes a lo largo de nuestro pais. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>