<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://i.ibb.co/4ZSQ6PC/adult-afro-hair-barbed-wire-2407884.jpg');">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Visión</h1>
          <h4>
            Vision Es Pensar Simpre En Tu Seguridad, Por Eso Somos Quien Somos.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="separator-line separator-primary"></div>
  <div class="projects-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Visión</h2>
          <h4 class="description">NUESTRA VISION SE RESUME EN SIEMPRE SER LA EMPRESA MAS IMPORTANTE A NIVEL NACIONAL DE OFRECER SERCICIOS DE SEGURIDAD
            DE LA MAXIMA CALIDAD SIN IMPORTAR CUALQUIER TIPO DE LUGAR O RETO QUE SE REALIZE.
          </h4>
          <div class="section-space"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://i.ibb.co/61cwbxZ/black-collaboration-cooperation-943630.jpg') ;">
  </div>
  <div class="content-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Juntos Podemos Lograr Un Entorno Mas Seguro .</h2>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>